body {
    background-color: #eae7dc; /* Soft pastel background color */
    color: #333;
}

header {
    background-color: #b0bec5; /* Pastel gray-blue */
    color: #333;
}

.slider {
    background-color: #ccc;
}

.slider:before {
    background-color: white;
}

input:checked + .slider {
    background-color: #66bb6a;
}

nav ul li a {
    color: #333;
}

h1, h2 {
    color: #6d6875; /* Soft pastel dark purple */
}

p {
    color: #555;
}

footer {
    background-color: #b0bec5; /* Pastel gray-blue */
    color: #333;
}
